<div class="relative h-full focus-within:z-10">
  <input
    type="search"
    class="facetwp-search text-tight border-stroke h-full w-full cursor-pointer border px-4 py-3 pr-10 text-base uppercase placeholder:uppercase transition-colors focus:outline-none! focus:ring-0! focus:shadow-none! focus-visible:outline-none! focus-visible:ring-0!"
    placeholder="{{ params.facet.placeholder }}"
    value="{{ params.selected_values[0] ?? "" }}"
  />
  <span class="pointer-events-none absolute right-4 top-1/2 -translate-y-1/2 size-4 text-black">
    {% include "icons/generic/search.svg" %}
  </span>
</div>
