<div class="relative focus-within:z-10 lg:h-full">
  <input
    type="search"
    class="facetwp-search text-tight border-stroke h-full w-full cursor-pointer border px-4 py-3 pr-10 text-base uppercase transition-colors placeholder:uppercase focus:shadow-none! focus:ring-0! focus:outline-none! focus-visible:ring-0! focus-visible:outline-none!"
    placeholder="{{ params.facet.placeholder }}"
    value="{{ params.selected_values[0] ?? "" }}"
  />
  <span
    class="pointer-events-none absolute top-1/2 right-4 size-4 -translate-y-1/2 text-black"
  >
    {% include "icons/generic/search.svg" %}
  </span>
</div>
