<div class="col-span-1 {{ is_last ? "border-b border-stroke border-r" : "" }}">
  <div class="aspect-video w-full bg-gray-200"></div>
  <div class="flex flex-col gap-8 px-6 py-10">
    <!-- Up -->
    <div class="flex flex-col gap-3">
      <p class="text-tight text-red text-sm font-semibold uppercase">
        Sezione
      </p>
      <h5 class="text-tight text-2xl font-semibold">Titolo del film</h5>
      <p class="text-tight text-base text-black">
        Reid Davenport / 99’ / 2023 / Doc
      </p>
    </div>
    <!-- Down -->
    <div class="flex flex-col gap-3">
      <p class="text-tight text-base font-semibold text-black">
        8 Giugno 2026 · 14:30
      </p>
      <p class="text-tight text-base font-semibold text-black">
        Cinema Lumière – Sala Scorsese
      </p>
    </div>
  </div>
</div>
